{% extends 'adminbase.html.twig' %}
{% block title %}Kategori Listesi{% endblock %}
{% block content %}
<!--main content start-->

            <div class="content-panel">
                <a style="margin-left:20px"  href="{{ path ('admin_category_new') }}" class="btn btn-theme03">Yeni Kategori Ekleme</a>
                <hr>
                <table class="table">
        <thead>
            <tr>
                <th>Kategori Numarası</th>
                <th>Ana Kategori Numarası</th>
                <th>Başlık</th>
                <th>Anahtar Kelime</th>
                <th>Tanımlama</th>
                <th>Durum</th>
                <th>Göster</th>
                <th>Düzenle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.parentid }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.keywords }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.status }}</td>
                <td>
                    <a href="{{ path('admin_category_show', {'id': category.id}) }}" class="btn btn-theme03">Göster</a>

                </td>
                <td><a href="{{ path('admin_category_edit', {'id': category.id,'pid':category.parentid}) }}" class="btn btn-theme04">Düzenle</a></td>
                <td>
                    {{ include('admin/category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
{% endblock %}
