<div class="banner_bottom">
    <div class="wthree_banner_bottom_left_grid_sub">
    </div>

    <div class="clearfix"> </div>
</div>
<!-- top-brands -->
<div class="top-brands">
    <div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
        <h3>ÜRÜNLER</h3>
        <div class="w3ls_w3l_banner_nav_right_grid1">

            {% for rs in products %}
                <div style="padding-bottom:20px" class="col-md-3 w3ls_w3l_banner_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">


                            <div class="agile_top_brand_left_grid1">


                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="{{ path('product_detail',{'id': rs.id}) }}"><img style="width:150px;height:180px;" src="{{ asset('uploade') }}/images/{{ rs.image }}" alt=" " class="img-responsive"></a>
                                            <p>{{ rs.keywords }}</p>
                                            <h4>{{ rs.sprice }} ₺</h4>
                                        </div>
                                        <div class="snipcart-details">


                                            <a href="{{ path('product_detail',{'id':rs.id}) }}"> <input type="submit" name="submit" value="İNCELE" class="button"></a>

                                        </div>
                                    </div>
                                </figure>

                            </div>



                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="clearfix"> </div>
        </div>

    </div>
</div>
<!-- //top-brands -->